<ion-header [translucent]="true">
    <ion-toolbar color="police-blue">
        <ion-item lines="none" color="police-blue">
            <ion-icon class="arrow" name="arrow-back-outline" [routerLink]="['/load']"></ion-icon>
            <ion-text class="title">Conferimento</ion-text>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngIf="!missingId" class="item" lines="none">
            <ion-input class="input" name="id" placeholder="Id">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="missingId" class="item-wrong" lines="none">
            <ion-input class="input" name="id" placeholder="Id">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="!missingStatus" class="item" lines="none">
            <ion-input class="input" name="status" placeholder="Stato">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="missingStatus" class="item-wrong" lines="none">
            <ion-input class="input" name="status" placeholder="Stato">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="!missingCountry" class="item" lines="none">
            <ion-input class="input" name="country" placeholder="Provenienza">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="missingCountry" class="item-wrong" lines="none">
            <ion-input class="input" name="country" placeholder="Provenienza">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="!missingSupplier" class="item" lines="none">
            <ion-input class="input" name="supplier" placeholder="Fornitore">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="missingSupplier" class="item-wrong" lines="none">
            <ion-input class="input" name="supplier" placeholder="Fornitore">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="!missingDescription" class="item" lines="none">
            <ion-input class="input" name="description" placeholder="Descrizione">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="missingDescription" class="item-wrong" lines="none">
            <ion-input class="input" name="description" placeholder="Descrizione">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="!missingTypology" class="item" lines="none">
            <ion-input class="input" name="typology" placeholder="Tipologia">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="missingTypology" class="item-wrong" lines="none">
            <ion-input class="input" name="typology" placeholder="Tipologia">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="!missingOrigin" class="item" lines="none">
            <ion-input class="input" name="origin" placeholder="Origine">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="missingOrigin" class="item-wrong" lines="none">
            <ion-input class="input" name="origin" placeholder="Origine">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="!missingDate" class="item" lines="none">
            <ion-input class="input" name="date" placeholder="Data">
            </ion-input>
        </ion-item>

        <ion-item *ngIf="missingDate" class="item-wrong" lines="none">
            <ion-input class="input" name="date" placeholder="Data">
            </ion-input>
        </ion-item>


        <ion-button color="antique-fuchsia" class="btn-style" expand="block" shape="round" type="submit" (click)="checkEmpityFields()">
            Aggiungi carico
        </ion-button>
    </ion-list>


</ion-content>