<ion-header [translucent]="true">
  <ion-toolbar color="police-blue">
    <ion-item color="police-blue" lines="none">
      <ion-icon slot="start" class="arrow" name="arrow-back-outline" [routerLink]="['/load']"></ion-icon>
      <ion-text class="title">Aggiungi Conferimento</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="insert-div">
    <ion-list>
      <ion-item *ngIf="!missing_idworker" class="it" lines="none">
        <ion-input class="input" name="_idworker" placeholder="Id" [(ngModel)]="postData._idworker">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="missing_idworker" class="item-wrong" lines="none">
        <ion-input class="input" name="_idworker" placeholder="Id" [(ngModel)]="postData._idworker">
        </ion-input>
      </ion-item>

      <!-- <ion-item *ngIf="!missingStatus" class="it" lines="none">
        <ion-input class="input" name="status" placeholder="Stato" [(ngModel)]="postData.status">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="missingStatus" class="item-wrong" lines="none">
        <ion-input class="input" name="status" placeholder="Stato" [(ngModel)]="postData.status">
        </ion-input>
      </ion-item>  -->

      <ion-item *ngIf="!missingCountry" class="it" lines="none">
        <ion-input class="input" name="country" placeholder="Provenienza" [(ngModel)]="postData.country">
        </ion-input>
      </ion-item>


      <ion-item *ngIf="missingCountry" class="item-wrong" lines="none">
        <ion-input class="input" name="country" placeholder="Provenienza" [(ngModel)]="postData.country">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="!missingSupplier" class="it" lines="none">
        <ion-select placeholder="Fornitore" [(ngModel)]="postData.supplier">
          <ion-select-option value="tizio">tizio</ion-select-option>
          <ion-select-option value="caio">caio</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="missingSupplier" class="item-wrong" lines="none">
        <ion-select placeholder="Fornitore" [(ngModel)]="postData.supplier">
          <ion-select-option value="tizio">tizio</ion-select-option>
          <ion-select-option value="caio">caio</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!missingDate" class="it" lines="none" button="true" id="open-date-input">
        <ion-text slot="end">{{dateValue}}</ion-text>
        <ion-popover trigger="open-date-input" show-backdrop="false">
          <ng-template>
            <ion-datetime #popoverDatetime presentation="date"
              (ionChange)="dateValue = formatDate(popoverDatetime.value)" [(ngModel)]="postData.date"></ion-datetime>
          </ng-template>
        </ion-popover>
        <ion-input class="input" name="date" placeholder="Data" [(ngModel)]="postData.date">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="missingDate" class="item-wrong" lines="none">
        <ion-input class="input" name="date" placeholder="Data" [(ngModel)]="postData.date">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Regione</ion-label>
        <ion-avatar *ngIf="regionSelected != '' ">
        <img src="{{flagToShow}}">
    
      </ion-avatar>
        <ion-select [(ngModel)]="regionSelected" (ngModelChange)="changeRegion()" ok-text="Si" cancel-text="No" >
          <ion-select-option *ngFor="let region of regions,  let i  = index" value="{{region.name}}">{{region.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="!missingDescription" class="it" lines="none">
        <ion-input class="input" name="description" placeholder="Descrizione" [(ngModel)]="postData.description">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="missingDescription" class="item-wrong" lines="none">
        <ion-input class="input" name="description" placeholder="Descrizione" [(ngModel)]="postData.description">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="!missingTypology" class="it" lines="none">
        <ion-input class="input" name="typology" placeholder="Tipologia" [(ngModel)]="postData.typology">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="missingTypology" class="item-wrong" lines="none">
        <ion-input class="input" name="typology" placeholder="Tipologia" [(ngModel)]="postData.typology">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="!missingOrigin" class="it" lines="none">
        <ion-input class="input" name="origin" placeholder="Origine" [(ngModel)]="postData.origin">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="missingOrigin" class="item-wrong" lines="none">
        <ion-input class="input" name="origin" placeholder="Origine" [(ngModel)]="postData.origin">
        </ion-input>
      </ion-item>

      <ion-button class="input" color="antique-fuchsia" class="btn-style" expand="block" shape="round" type="submit"
        (click)="checkEmpityFields()">
        Aggiungi carico
      </ion-button>
    </ion-list>
  </div>

</ion-content>
