@font-face {   
  font-family: 'quicksand-regular';   
  src: url('../../assets/font/Quicksand-Regular.ttf')   
}   
   
@font-face {   
  font-family: 'quicksand-semibold';   
  src: url('../../assets/font/Quicksand-SemiBold.ttf')   
}  



.arrow{    
  color: white;   
  margin-left:0%;    
  width: 25px;     
  height: 25px;    
} 

ion-item{
  font-family: "quicksand-regular";
  font-size: 20px;   

}

.hammer{

  color: white;   
  margin-right:0%;    
  width: 25px;     
  height: 25px;  
  
  
  } 


  .title {   
    text-align: center;   
    margin-left: auto;   
    margin-right: auto;   
    font-family: "quicksand-semibold";   
    font-size: 20px;   
    color:white;   
  }   
    


ion-img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0,5cm;
    width: 150px; 
    height: 150px;
    border-radius: 50px;
    background-position: center;
    background-size: 100% 100%;
  
  
  } 


  
.items {
  border-radius: 25px;
  margin-bottom: 30px;

}

  .name{ 
    text-align: center;
    font-family: "quicksand-semibold";   
    margin-left: auto;
    margin-right: auto;

  }

 .telefone{
  width: 25px;     
  height: 25px; 
 } 


 .icon-fab{
  color: white;
}
      



