<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow" slot="start" name="arrow-back-outline"></ion-icon>
    <ion-title>Account</ion-title>
    <ion-icon class="hammer" slot="end" name="hammer-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="assets/profilo.jpeg"></ion-img>
 


  
    <ion-label class="name"> 
      {{postData.nome}}
      {{postData.cognome}}
    </ion-label>
  


  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label class="lable">
          Username:
        </ion-label>
        <ion-input class="item">
        {{postData.username}}
      </ion-input>
            </ion-item>




            <ion-item>
              <ion-label class="lable">
                E-mail:
              </ion-label>
              <ion-input class="item">
              {{postData.email}}
            </ion-input>
                  </ion-item>




                  <ion-item>
                    <ion-label class="lable">
                      Indirizzo:
                    </ion-label>
                    <ion-input class="item">
                    {{postData.indirizzo}}
                  </ion-input>
                        </ion-item>




      

      <ion-item>
        
        <ion-label class="lable">
          Password:
        </ion-label>
        <ion-input type = "password" value="Password" > </ion-input>
          <ion-icon slot="end" [name]="pwdIcon" (click)="togglePwd()">
          </ion-icon> 
      
          
      </ion-item>

    </ion-card-content>
  </ion-card>


<ion-item>
  <ion-icon class="telefone" name="call-outline"></ion-icon>

    <ion-label>
      <ion-input class="number" type="tel">
      {{postData.telefono}}
      </ion-input>
    </ion-label>
  </ion-item>

</ion-content>
