<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
    <ion-icon slot="end" name="hammer-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="assets/profilo.jpeg"></ion-img>
 

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>
          Nome:
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Cognome:
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Mail:
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
