<ion-header [translucent]="true">
  <ion-toolbar color="police-blue">
    <ion-item lines="none" color="police-blue"  >
      <ion-icon class="arrow" name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
      <ion-text class="title">Gestisci i carichi</ion-text>
      <ion-icon class="add" name="add-outline" [routerLink]="['/insert-conferment']" ></ion-icon> 
    </ion-item>
  </ion-toolbar>
</ion-header>




<ion-content>


 <ion-searchbar showCancelButton="focus" cancelButtonText="Cancel" class="searchbar" placeholder="Cerca un carico">
 </ion-searchbar>

 
  
</ion-content>



