@font-face {   
  font-family: 'quicksand-regular';   
  src: url('../../assets/font/Quicksand-Regular.ttf')   
}   
   
@font-face {   
  font-family: 'quicksand-semibold';   
  src: url('../../assets/font/Quicksand-SemiBold.ttf')   
}   
  
 
ion-accordion::part(content){ 
  font-family: 'quicksand-semibold'; 
  padding: 2px; 
  background: #F1F1F1; 
 
} 
 
ion-accordion::part(header){ 
  font-family: 'quicksand-semibold'; 
  padding: 2px; 
  background: #F1F1F1; 
 
} 
 
ion-toolbar{  
  --background: #3B5360;  
   
 }  
  
ion-button{ 
  --border-radius: 40px; 
  height:30px; 
  margin-left: 20px; 
  font-family: 'quicksand-regular';  
 
} 
 
 .text-chip{  
   color: white;  
   opacity: 0.7;  
 }  
  
.font-wine{   
font-family: "quicksand-semibold";   
font-size: 20px;  
color: black; 
  
}   
  
.arrow{    
  color: white;   
  margin-left:0%;    
  width: 22px;     
  height: 22px;    
}    
  
.add{   
  color: white;   
  margin-right:0%;    
  width: 25px;     
  height: 25px;    
}   
    
  
  
.title {   
  text-align: center;   
  margin-left: auto;   
  margin-right: auto;   
  font-family: "quicksand-semibold";   
  font-size: 20px;   
  color:white;   
}   
  
.searchbar{   
   height:15%;   
  --border-radius: 40px;   
  --placeholder-font-style: "quicksanf-regular"   
   
}   
  
.calendar-label-style {   
  font-size: 15px;   
  font-family: "quicksand-regular";   
}   
  
   
.icon-style {   
height: 20px;   
margin-left: 15px;   
}   
  
.icon-style1 {   
height: 20px;   
margin-left: auto;   
  
}  
  
  
.second-row{  
  
  width: 100%;  
  height: 70px;  
  padding: 10px;  
}  
  
.third-row{  
  
  width: 100%;  
  height: 50px;  
  padding: 10px;  
}  
  
.three-row{  
  
  width: 100%;  
  height: 30px;  
  padding: 10px;  
  margin-left: auto;  
}  
  
  
.upper-row{  
  padding-right: 10px;  
  padding-top: 5px;  
  padding-bottom: 5px;  
  border: 1px solid #F1F1F1;  
  border-radius: 25px;    

}  
 
 
 
 
.text{  
  font-size: 15px;   
  font-family: "quicksand-regular";  
  color: #B1A7A6;  
}  
  
 
.list-style{  
  padding:20px;  
  
}  
 
.process-col{ 
  padding-left: 10px; 
  font-family: "quicksand-semibold";  
  font-style: italic; 
  color: #8B5E83; 
  width: 60%;
 
} 

.progress-bar-col{ 
  //padding-top: 12px;

} 

 
.space-item{ 
  margin-top: 25px; 
} 
 

.bar-c {
height: 7px;
border-radius: 50px;
width: 60%;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;

}

.item-progress-bar{
  width: 100%
}

.process-not-started{
color: orangered;

}

.process-ended{
color: green;
}

.process-not-started-not-vis{
  opacity: 0;
  
  }
  
  .process-ended-not-vis{
  opacity: 0;

  }