@font-face {
    font-family: 'quicksand-regular';
    src: url('../../assets/font/Quicksand-Regular.ttf')
  }
  
  @font-face {
    font-family: 'quicksand-semibold';
    src: url('../../assets/font/Quicksand-SemiBold.ttf')
  }



.arrow{ 
    color: white;
   
    margin-left:0%; 
    width: 22px;  
    height: 22px; 
 } 

 .add{
    color: white;
    margin-right:0%; 
    width: 25px;  
    height: 25px; 
 }
   
  .title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "quicksand-semibold";
    font-size: 20px;
    color:white;
  }

  .searchbar{
     height:15%;
    --border-radius: 40px;
    --placeholder-font-style: "quicksanf-regular"
  
  }

  .my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }