
<ion-content>
<ion-list>
  <ion-item  lines="none">
    <ion-icon color="antique-fuchsia" class="arrow" name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
    <ion-text class="title">
      Gestisci i carichi
    </ion-text>
    <ion-icon color="antique-fuchsia" class="add" name="add-outline" [routerLink]="['/home']" ></ion-icon> 
   </ion-item>
</ion-list>
 

 <ion-searchbar showCancelButton="focus" cancelButtonText="Cancel" class="searchbar" placeholder="Cerca un carico">
 </ion-searchbar>

 
  
</ion-content>



