<ion-content>
  <ion-img src="../../assets/icon/logo_whitewine.jpg" class="logo"> </ion-img>
  <ion-card>

    <ion-item>
      <ion-label position="stacked">
        <ion-icon name="mail-outline" class="lab"></ion-icon>
        Email
      </ion-label>
      <ion-input placeholder="inserisci E-mail" [(ngModel)]="email">
      </ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="stacked">
        <ion-icon name="lock-closed-outline" class="lab"></ion-icon>Password
      </ion-label>
      <ion-input [type]="showPwd ? 'text' : 'password'" placeholder="Inserisci Password" [(ngModel)]="pass">
      </ion-input>
      <ion-icon slot="end" [name]="pwdIcon" (click)="togglePwd()">
      </ion-icon> 
    </ion-item>
    <ion-button class="btn-bg"  expand="block" type="submit" (click)="getCredentials()">
      Login
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>

  </ion-card>
  <ion-text [routerLink]="['/sign-up']" class="small-text">Registrati</ion-text>
  <ion-text [routerLink]="['/forgot-pw']" class="text">Recupera password</ion-text>
</ion-content>
