<ion-header>
  <ion-toolbar class="toolbar" color="customColor">
    <ion-menu-button color="white">
    </ion-menu-button>
    <ion-title>Info</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-img src="assets/icon/logo_enolo.jpg"></ion-img>
  <div class="div">
    <ion-input class="descrizione"> L'app Gestionale Enolo è sviluppata da studenti universitari per le aziende
      vitivinicole che, ogni giorno, affrontano le sfide stimolanti di un mercato complesso e in continua evoluzione.
    </ion-input>
  </div>
  <div class="div">
    <ion-input class="titolo">Gestione conferimenti</ion-input>
    <ion-input class="descrizione">Traccia in modo puntuale la storia del tuo prodotto con Enolo, gestisci le fasi del
      processo e monitora costantemente gli scarti. In questo modo puoi conoscere gli aspetti di ogni singolo prodotto,
      intervenire per ottimizzare le risorse a tua disposizione. </ion-input>
  </div>
  <div class="div">

    <ion-input class="titolo">Organizzazione magazzino</ion-input>
    <ion-input class="descrizione">Monitora la situazione in cantina, gestisci il magazzino direttamente da Enolo,
      controlla le scorte presenti. </ion-input>
  </div>
  <div class="div">
    <ion-input class="titolo">Aumento della Qualità</ion-input>
    <ion-input class="descrizione"> L'App Enolo Garantisce l’operatività continua per dispositivi mobile: in questo modo
      puoi seguire l’evoluzione di uve e vini, intervenire tempestivamente per orientare la rotta e aumentare la qualità
      globale dei tuoi prodotti.
    </ion-input>
  </div>
  <div class="link">
    <a href="developer">Team di Sviluppo</a>
  </div>

</ion-content>