
.toolbar{
    background-color: #3B5360  ;
    color:#ffffff;
  }

.arrow{
    margin-left: 10px;
    width: 30px; 
    height: 30px;
    color: #ffffff;
    }
    
    ion-img{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0,5cm;
        width: 150px; 
        height: 150px;
        border-radius: 50px;
        background-position: center;
        background-size: 100% 100%;
      
      
      }     

      .descrizione {
        color: #565555;
        font-size: 12px;
        margin-left: 7px;
        margin-right: 20px;
        margin-top: 5px;
        
        
        text-align:justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

      } 


      .titolo {
        color: #272727;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        
align-items: center;
margin-left: 3%;






        font-family: Verdana, Geneva, Tahoma, sans-serif;

      } 

      .card{margin-top: -4%;}

    
      

     .div{
         margin-right:10% ;
         margin-left: 10%;
     }