<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" swipe-gesture="false">
      <div class="style-logo">
        <div>
          <img src="assets/icon/logo_enolo.jpg" class="img">
        </div>
      </div>

      <ion-content>
        <div class="upper-menu-style">
          <ion-list id="inbox-list">

            <div class="upper-menu-div">
              <div class="div-avatar">
                <ion-avatar  [routerLink]="['/user-account']">
                  <img
                    src="https://img.myloview.it/adesivi/user-icon-vector-male-person-symbol-profile-circle-avatar-sign-in-flat-color-glyph-pictogram-illustration-700-168677638.jpg" />
                </ion-avatar>
              </div>

              <div class="div-user-email">
                <div class="div-row-user">
                  <ion-label class="style-user">{{username}}</ion-label>
                </div>
                <div class="div-row-email">
                  <ion-label class="style-email">{{email}}</ion-label>
                </div>
              </div>

            </div>


            <div class="style-menu">
              <ion-menu-toggle>
                <ion-button fill="clear" class="style-labs-menu" [routerLink]="['/home']">
                  <ion-icon name="home-outline"></ion-icon>
                  <ion-label class="lab">Home</ion-label>
                </ion-button>

                <ion-button fill="clear" class="style-labs-menu" [routerLink]="['/warehouse']">
                  <ion-icon name="wine-outline"></ion-icon>
                  <ion-label class="lab">Magazzino </ion-label>
                </ion-button>
                <ion-button fill="clear" class="style-labs-menu" [routerLink]="['/load']">
                  <ion-icon name="archive-outline"></ion-icon>
                  <ion-label class="lab">Conferimenti</ion-label>
                </ion-button>

                <ion-button fill="clear" class="style-labs-menu" [routerLink]="['/statistics']">
                  <ion-icon name="stats-chart-outline"></ion-icon>
                  <ion-label class="lab">Statistiche</ion-label>
                </ion-button>

                <ion-button fill="clear" class="style-labs-menu" [routerLink]="['/suppliers']">
                  <ion-icon name="people-circle-outline"></ion-icon>                 
                 <ion-label class="lab">Fornitori</ion-label>
                </ion-button>


              </ion-menu-toggle>
            </div>
          </ion-list>


        </div>
      </ion-content>

      <ion-footer>
        <ion-menu-toggle>
          <ion-button (click)="button5()" fill="clear" color="dark" class="style-settings" [routerLink]="['/settings']">
            <ion-icon name="cog-outline"></ion-icon>
            <ion-label class="lab">Impostazioni </ion-label>


          </ion-button>
          <ion-button (click)="logout()" fill="clear" color="dark" class="style-settings">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label class="lab">Logout </ion-label>
          </ion-button>

        </ion-menu-toggle>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>