<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header>
            <img src="assets/icon/logo_enolo.jpg" class="img">
          </ion-list-header>
          <ion-note class="ute">nome azienda</ion-note><br>
          <ion-note class="ute">E-mail utente</ion-note>
          
          <ion-menu-toggle>
            <ion-button (click)="button1()" fill="clear" color="dark" [routerLink]="['/home']">
              <ion-icon name="home-outline"></ion-icon>
              <ion-label class="lab">Home</ion-label>
            </ion-button>

            <ion-button (click)="button2()" fill="clear" color="dark" [routerLink]="['/warehouse']">
              <ion-icon name="wine-outline"></ion-icon>
              <ion-label class="lab">Magazzino </ion-label>
            </ion-button>

            <ion-button (click)="button3()" fill="clear" color="dark" [routerLink]="['/load']">
              <ion-icon name="archive-outline"></ion-icon>
              <ion-label class="lab">Carichi</ion-label>
            </ion-button>

            <ion-button (click)="button4()" fill="clear" color="dark" [routerLink]="['/statistics']">
              <ion-icon name="stats-chart-outline"></ion-icon>
              <ion-label class="lab">Statistiche</ion-label>
            </ion-button>
          </ion-menu-toggle>

        </ion-list>

        <ion-menu-toggle>
          <ion-button (click)="button5()" fill="clear" color="dark"
            style="margin-top: 5rem; position: fixed; bottom: 20px;" [routerLink]="['/settings']">
            <ion-icon name="cog-outline"></ion-icon>
            <ion-label class="lab">Impostazioni </ion-label>
          </ion-button>
        </ion-menu-toggle>

      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
 
