
@font-face {
  font-family: 'quicksand-regular';
  src: url('../../assets/font/Quicksand-Regular.ttf')
}

.toolbar{
    background-color: #3B5360  ;
    color:#ffffff;
  }

.arrow{
    margin-left: 10px;
    width: 30px; 
    height: 30px;
    color: #ffffff;
   
  
  
  
  } 

  .item1 {

    border: 1px solid #F1F1F1;
    border-radius: 25px;
    margin-bottom: 30px;
    margin-top: 10%;
  
  }
  .item {

    border: 1px solid #F1F1F1;
    border-radius: 25px;
    margin-bottom: 20px;
  
  }

  .input {
    font-family: "quicksand-regular";
    
    }
    .btn-style {
      margin-top: 60px;
    
    }

    .icon-fab{
      color: white;
    }