<ion-header>
  <ion-toolbar color="police-blue">
    <ion-item lines="none" color="police-blue">
      <ion-icon class="arrow" name="arrow-back-outline" [routerLink]="['/user-account']"></ion-icon>
      <ion-text class="title">Modifica Account</ion-text>
    </ion-item>
  </ion-toolbar>

</ion-header>

<ion-content >
 
  <ion-list class="div1">
  


    <ion-item *ngIf="!missingEmail" class="it" lines="none"> 
      <ion-input  [(ngModel)] = "patchData.email" class="input" placeholder="Email"> 
      </ion-input> 
    </ion-item> 
 
    <ion-item *ngIf="missingEmail" class="item-wrong" lines="none"> 
      <ion-input  [(ngModel)] = "patchData.email"  class="input" placeholder="Email" >
      </ion-input> 
    </ion-item> 

    <ion-item *ngIf="!missingName" class="it" lines="none"> 
      <ion-input [(ngModel)] = "patchData.name" class="input" placeholder="Nome" >
      </ion-input> 
    </ion-item> 
 
    <ion-item *ngIf="missingName" class="item-wrong" lines="none"> 
      <ion-input   [(ngModel)] = "patchData.name"  class="input" placeholder="Nome" > 
      </ion-input> 
    </ion-item> 

 
  
    <ion-item *ngIf="!missingSurname" class="it" lines="none"> 
      <ion-input  [(ngModel)] = "patchData.surname" class="input" placeholder="Cognome" > 
      </ion-input> 
    </ion-item> 
 
    <ion-item *ngIf="missingSurname" class="item-wrong" lines="none"> 
      <ion-input   [(ngModel)] = "patchData.surname"  class="input" placeholder="Cognome"> 
      </ion-input> 
    </ion-item> 

   
    <ion-item *ngIf="!missingAddress" class="it" lines="none"> 
      <ion-input  [(ngModel)] = "patchData.address" class="input"  placeholder="Indirizzo"> 
      </ion-input> 
    </ion-item> 
 
    <ion-item *ngIf="missingAddress" class="item-wrong" lines="none"> 
      <ion-input [(ngModel)] = "patchData.address"  class="input" placeholder="Indirizzo">
      </ion-input> 
    </ion-item> 

    <ion-item *ngIf="!missingPhone" class="it" lines="none"> 
      <ion-input   type="number" [(ngModel)] = "patchData.phone" class="input"  placeholder="Telefono">
      </ion-input> 
    </ion-item> 
 
    <ion-item *ngIf="missingPhone" class="item-wrong" lines="none"> 
      <ion-input  type="number" [(ngModel)] = "patchData.phone"  class="input" placeholder="Telefono" > 
      </ion-input> 
    </ion-item> 


  
    <ion-button (click)="addUser()" shape="round" class="login-btn" expand="block" type="submit">
      Modifica
    </ion-button>
  </ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="opacity: 90%; ">
  <ion-fab-button  color="antique-fuchsia" (click)="openMenu()" >
    <ion-icon class="icon-fab" name="menu-outline" style="opacity: 100%; "></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>

