<ion-content [formGroup]="SignUpForm">
  <div class="toolbar-style">
    <ion-icon color="antique-fuchsia" class="arrow" name="arrow-back-outline" [routerLink]="['/login']"></ion-icon>
  </div>
  <div class="sign-up-div">
    <ion-list>
      <ion-text class="title">
        Registrati
      </ion-text>


      <ion-item *ngIf="!missingName" class="item" lines="none">
        <ion-input class="input" formControlName="name" placeholder="Nome" [(ngModel)]="postData.name">
        </ion-input>

      </ion-item>

      <ion-item *ngIf="missingName" class="item-wrong" lines="none">
        <ion-input class="input"  formControlName="name" placeholder="Nome" [(ngModel)]="postData.name">
        </ion-input>
      </ion-item>


      <ion-item *ngIf="!missingSurname" class="item" lines="none">
        <ion-input class="input" formControlName="surname" placeholder="Cognome" [(ngModel)]="postData.surname">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="missingSurname" class="item-wrong" lines="none">
        <ion-input class="input" formControlName="surname" placeholder="cognome" [(ngModel)]="postData.surname">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="!missingUsername" class="item" lines="none">
        <ion-input class="input" formControlName="username" placeholder="Username" [(ngModel)]="postData.username">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="missingUsername" class="item-wrong" lines="none">
        <ion-input class="input" formControlName="username" placeholder="Username" [(ngModel)]="postData.username">
        </ion-input>
      </ion-item>


      <ion-item *ngIf="!missingEmail" class="item" lines="none">
        <ion-input class="input" formControlName="email" placeholder="Email" [(ngModel)]="postData.email">
        </ion-input>
      </ion-item>
      <ion-item *ngIf="missingEmail" class="item-wrong" lines="none">
        <ion-input class="input" formControlName="email" placeholder="Email" [(ngModel)]="postData.email">
        </ion-input>
      </ion-item>


      <ion-item *ngIf="!missingAddress" class="item" lines="none">
        <ion-input class="input" formControlName="address" placeholder="Indirizzo" [(ngModel)]="postData.address">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="missingAddress" class="item-wrong" lines="none">
        <ion-input class="input" formControlName="address" placeholder="Indirizzo" [(ngModel)]="postData.address">
        </ion-input>
      </ion-item>


      <ion-item *ngIf="!missingPassword" class="pw-item" lines="none">
        <ion-input class="pw-input" formControlName="password" [type]="showPwd ? 'text' : 'password'"
          placeholder="Password" [(ngModel)]="postData.password">
        </ion-input>
        <div *ngIf="pwCheck(error)">
        </div>

        <ion-icon slot="end" [name]="pwdIcon" (click)="togglePwd()">
        </ion-icon>
      </ion-item>

      <ion-item *ngIf="missingPassword" class="pw-item-wrong" lines="none">
        <ion-input class="pw-input" formControlName="password" [type]="showPwd ? 'text' : 'password'"
          placeholder="Password" [(ngModel)]="postData.password">
        </ion-input>

        <ion-icon slot="end" [name]="pwdIcon" (click)="togglePwd()">
        </ion-icon>
      </ion-item>

      <ion-item class="item" lines="none">
        <ion-input [type]="showPwd ? 'text' : 'password'" placeholder="Conferma password"
          formControlName="confirmPassword">
        </ion-input>
        <div class="error-messages">

          <div *ngIf="confpwCheck(error)">

          </div>

        </div>
      </ion-item>

      <div class="error_message" *ngIf="comparepwCheck(error)">
        Password and Confirm Password fields should match
      </div>


      <ion-item *ngIf="!missingPhone" class="item" lines="none">
        <ion-input class="input" formControlName="phone" placeholder="Numero di telefono" [(ngModel)]="postData.phone">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="missingPhone" class="item-wrong" lines="none">
        <ion-input class="input" formControlName="phone" placeholder="Numero di telefono" [(ngModel)]="postData.phone">
        </ion-input>
      </ion-item>


      <ion-button color="antique-fuchsia" class="btn-style" expand="block" shape="round" type="submit"
        (click)="signAction()">
        Prosegui
      </ion-button>
    </ion-list>

  </div>
</ion-content>
