<ion-content [formGroup]="SignUpForm">
  <ion-icon class="arrow" name="arrow-back-outline" [routerLink]="['/login']"></ion-icon>
  <ion-img src="../../assets/icon/logo_whitewine.jpg" class="logo"> </ion-img>
  <ion-item>
    <ion-label position="stacked">
      <ion-icon name="person-outline" class="lab"></ion-icon>
      Nome
    </ion-label>
    <ion-input placeholder="inserisci nome" formControlName="nome">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">
      <ion-icon name="person-outline" class="lab"></ion-icon>
      Cognome
    </ion-label>
    <ion-input placeholder="inserisci cognome" formControlName="cognome">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">
      <ion-icon name="mail-outline" class="lab"></ion-icon>
      Email
    </ion-label>
    <ion-input placeholder="inserisci email" formControlName="email">
    </ion-input>
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.email">
        <div class="error-message"
          *ngIf="SignUpForm.get('email').hasError(error.type) && (SignUpForm.get('email').dirty || SignUpForm.get('email').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">
      <ion-icon name="lock-closed-outline" class="lab"></ion-icon>Password
    </ion-label>
    <ion-input [type]="showPwd ? 'text' : 'password'" placeholder="Inserisci Password" formControlName="pass">
    </ion-input>
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.password">
        <div class="error-message"
          *ngIf="SignUpForm.get('password').hasError(error.type) && (SignUpForm.get('password').dirty || SignUpForm.get('password').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>
    <ion-icon slot="end" [name]="pwdIcon" (click)="togglePwd()">
    </ion-icon>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">
      <ion-icon name="lock-closed-outline" class="lab"></ion-icon>
      Conferma Password
    </ion-label>
    <ion-input [type]="showPwd ? 'text' : 'password'" placeholder="Conferma password" formControlName="confirmpassword">
    </ion-input>
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.confirmpassword">
        <div class="error-message"
          *ngIf="SignUpForm.get('confirmpassword').hasError(error.type) && (SignUpForm.get('confirmpassword').dirty || SignUpForm.get('confirmpassword').touched)">
          {{ error.message }}
        </div>
      </ng-container>
      <div class="error-message"
        *ngIf="!SignUpForm.get('confirmpassword').errors && SignUpForm.hasError('passwordNotMatch') && (SignUpForm.get('confirmpassword').dirty || SignUpForm.get('confirmpassword').touched)">
        Password and Confirm Password fields should match
      </div>
    </div>
  </ion-item>

  <ion-item>


    <ion-label position="stacked">
      <ion-icon name="call-outline" class="lab"></ion-icon>
      Numerdo di telefono
    </ion-label>
    <ion-input placeholder="Inserisci numero" formControlName="numerotel">
    </ion-input>
  </ion-item>
  <ion-button expand="block" type="submit" (click)="getCredentials()">
    Registrati
    <ion-icon name="log-in-outline"></ion-icon>
  </ion-button>

</ion-content>
