<ion-content [formGroup]="SignUpForm">
  <ion-icon class="arrow" name="arrow-back-outline" [routerLink]="['/login']"></ion-icon>
  <ion-img src="../../assets/icon/logo_whitewine.jpg" class="logo"> </ion-img>
  <ion-item>
    <ion-input placeholder="Nome" formControlName="name">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Cognome" formControlName="surname">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Username" formControlName="username">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Indirizzo" formControlName="address">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="E-mail" formControlName="email">
    </ion-input>
    <div *ngFor="let error of error_messages.email" class="error-messages">
      <div *ngIf="emailCheck(error)" class="error-message">
        {{ error.message }}
      </div>
    </div>
  </ion-item>

  <ion-item>
    <ion-input [type]="showPwd ? 'text' : 'pass'" placeholder="Password" formControlName="pass">
    </ion-input>
    <div *ngFor="let error of error_messages.pass" class="error-messages">
      <div class="error-message" *ngIf="pwCheck(error)">
        {{ error.message }}
      </div>
    </div>
    <ion-icon slot="end" [name]="pwdIcon" (click)="togglePwd()">
    </ion-icon>
  </ion-item>

  <ion-item>
    <ion-input [type]="showPwd ? 'text' : 'pass'" placeholder="Conferma password" formControlName="confirmPassword">
    </ion-input>
    <div *ngFor="let error of error_messages.confirmpassword" class="error-messages">
      <div class="error-message" *ngIf="confpwCheck(error)">
        {{ error.message }}
      </div>
      <div class="error-message" *ngIf="comparepwCheck(error)">
        Password e conferma Password non corrispondono
      </div>
    </div>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Numero Telefonico" formControlName="telephoneNumber">
    </ion-input>
  </ion-item>
  <ion-button expand="block" type="submit" (click)="getCredentials()">
    Registrati
    <ion-icon name="log-in-outline"></ion-icon>
  </ion-button>
</ion-content>
