.style-c { 
  min-height: 250px; 
  margin-top: 10px; 
  border-bottom-style: ridge; 
} 
 
ion-progress-bar{ 
  color: primary; 
} 
 
 
.list-style{   
  padding:30px;   
   
} 
 
 
.list-style1{   
  padding:10px;   
   
}   
 
 
.card-conf-style{ 
 
  font-size: 15px; 
  font-family:"quicksand-regular"; 
} 
 
.login-btn { 
  height: 40px; 
  --background: #8B5E83; 
  font-family: "quicksand-regular"; 
   margin-top: 5px; 
} 
 
.div1{ 
  max-width: 300px; 
  position: absolute; 
  margin: auto; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  padding: 10px; 
} 
 
.div1{ 
  position: center; 
  margin: auto; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  padding: 10px; 
} 
 
.c { 
  min-height: 250px; 
  margin-top: 10px; 
  border-bottom-style: ridge; 
} 
 
.gridstyle { 
  height: auto; 
  flex-flow: column; 
  padding-left: 10px; 
  padding-right: 10px; 
  min-height: 150px; 
  padding-bottom: 10px; 
} 
 
.title-c { 
  margin-top: 15px; 
  margin-bottom: 15px; 
  font-size: 24px; 
  margin: auto; 
  font-family: "quicksand-regular"; 
} 


 
.style-labs-c { 
  margin-left: 15px; 
  margin-bottom: 25px; 
  margin-top: 20px; 
  font-size: 30px; 
  font-family: "quicksand-regular"; 
} 
 
.calendar-label-style { 
  font-size: 15px; 
  font-family: "quicksand-regular"; 
} 
 
 
.labc { 
  font-size: 20px; 
  margin-top: 15px; 
 
} 
 
.style-title-c { 
  margin-bottom: 40px; 
  margin-top: 20px; 
  font-size: 20px; 
  font-family: "quicksand-semibold"; 
  padding-left: 10px; 
} 
 
 
.bar-c { 
  margin-top: 15px; 
  height: 16px; 
  border-radius: 50px; 
  width: 60%; 
  margin: auto; 
  --background: white; 
  border: 1px solid black; 
} 
 
.style-row-title { 
  margin-bottom: 15px; 
} 
 
@font-face { 
  font-family: 'quicksand-regular'; 
  src: url('../../assets/font/Quicksand-Regular.ttf') 
} 
 
@font-face { 
  font-family: 'quicksand-semibold'; 
  src: url('../../assets/font/Quicksand-SemiBold.ttf') 
} 
 
.weight-col-style { 
  height: 80px; 
  flex-flow: column wrap; 
  text-align: left; 
  padding-left: 20px; 
  margin-top: 15px; 
 
} 
 
.wine-type-col-style { 
  height: 80px; 
  flex-flow: column wrap; 
  text-align: right; 
  padding-right: 10px; 
  margin-top: 15px; 
 
} 
 
.down-col-style { 
  height: 80px; 
  flex-flow: column wrap; 
  margin-bottom: 50px; 
  text-align: left; 
  padding-left: 10px; 
 
} 
 
.style-labs-f { 
  font-size: 20px; 
  font-family: "quicksand-regular"; 
  color: #8c8c8c; 
} 
 
.icon-style { 
  height: 20px; 
 
} 
 
.style-labs-peso { 
 
  font-size: 30px; 
  font-family: "quicksand-regular"; 
} 
 
.style-kg { 
  font-size: 20px; 
  font-family: "quicksand-regular"; 
} 
 
.card-conf-style { 
  font-size: 20px; 
  margin: auto; 
  font-family: "quicksand-regular"; 
  padding-left: 15px; 
} 
 
.butt-conf-style { 
  font-size: 15px; 
  margin: auto; 
  font-family: "quicksand-regular"; 
} 
 
ion-toolbar { 
  --background: #3B5360; 
} 
 
.title-processes { 
 
  font-family: "quicksand-semibold" 
 
} 

.title-next-process { 
  margin-top: 30px;
  font-family: "quicksand-semibold" 
 
} 
 
 
.title-div { 
  margin-top: 25px; 
  margin-bottom: 10px; 
  margin-left: 10px; 
  margin-right: 10px; 
 
} 
 
.accordion-style { 
  padding: 10px; 
 
 
} 
 
.title-process { 
  font-family: "quicksand-regular"; 
 
 
} 
 
.title-description { 
  font-family: "quicksand-semibold"; 
  font-size: 15px; 
} 
 
.text-description { 
 
  font-family: "quicksand-regular"; 
  font-size: 15px; 
 
} 
 
.title {    
  text-align: center;    
  margin-left: auto;    
  margin-right: auto;    
  font-family: "quicksand-semibold";    
  font-size: 20px;    
  color:white;    
}   
 
.arrow{     
  color: white;    
  margin-left:0%;     
  width: 22px;      
  height: 22px;     
}     
   
 
ion-button { 
  --background: #8B5E83; 
  font-family: "quicksand-regular"; 
}

.it {
  border: 1px solid #F1F1F1;
  border-radius: 25px;
  margin-bottom: 30px;
  margin-left:10px;
  margin-right: 10px;
  height: 200px;
}

.input {
  font-family: "quicksand-semibold";
}

.next-process-style{
  font-family: "quicksand-regular"; 
  font-style: italic;
  color: gray;
  
}

.div-next-pr{
  margin-bottom: 20px;

}

.main-div{
  padding-left: 15px;
  padding-right: 15px;

}

.new-pr-btn{
  max-width: 200px;
  border-radius: 25px;

}

@media (max-width: 392px) {

  .style-labs-c {
    margin-left: 15px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 22px;
    font-family: "quicksand-regular";
  }

  .style-labs-peso {

    font-size: 22px;
    font-family: "quicksand-regular";
  }

  .calendar-label-style {
    font-size: 13px;
    font-family: "quicksand-regular";
  }

  .style-labs-f {
    font-size: 16px;
    font-family: "quicksand-regular";
    color: #8c8c8c;
  }

  .style-kg {
    font-size: 16px;
    font-family: "quicksand-regular";
  }
  .icon-style {
    height: 15px;
  
  }
}

@media (max-width: 356px) {

  .style-labs-c {

    margin-left: 15px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "quicksand-regular";

  }

  .style-labs-peso {

    font-size: 20px;
    font-family: "quicksand-regular";

  }

  .calendar-label-style {

    font-size: 11px;
    font-family: "quicksand-regular";

  }

  .style-labs-f {

    font-size: 14px;
    font-family: "quicksand-regular";
    color: #8c8c8c;

  }

  .style-kg {

    font-size: 14px;
    font-family: "quicksand-regular";
  }
  .icon-style {
    height: 12px;
  
  }
}

@media (max-width: 330px) {

  .style-labs-c {
    margin-left: 15px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 17px;
    font-family: "quicksand-regular";

  }

  .style-labs-peso {

    font-size: 17px;
    font-family: "quicksand-regular";

  }

  .calendar-label-style {
    font-size: 8px;
    font-family: "quicksand-regular";

  }

  .style-labs-f {
    font-size: 11px;
    font-family: "quicksand-regular";
    color: #8c8c8c;

  }

  .style-kg {
    font-size: 11px;
    font-family: "quicksand-regular";
  }
  .icon-style {
    height: 9px;
  
  }
}