<ion-header>
  <ion-toolbar>
    <ion-item lines="none" color="police-blue">
      <ion-icon class="arrow" name="arrow-back-outline" [routerLink]="['/load']"></ion-icon>
      <ion-text class="title">Visualizza Conferimento</ion-text>
    </ion-item>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="main-div">
    <app-loading *ngIf="loading"></app-loading>
      <ion-grid class="grid-card" *ngIf="!loading">
        <ion-col>
          <ion-row class="style-row-title">
            <ion-label *ngIf="conferment?.status=='PENDING'" class="title-c"> In {{conferment?.current_process}}
            </ion-label>
            <ion-label *ngIf="conferment?.status=='DELIVERED'" class="title-c"> Lavorazione ancora non iniziata
            </ion-label>
            <ion-label *ngIf="conferment?.status=='READY'" class="title-c"> Lavorazione conclusa</ion-label>
          </ion-row>


          <ion-row>
            <ion-progress-bar color="primary" class="bar-c" [value]="conferment?.progressBarValue"></ion-progress-bar>
          </ion-row>
          <ion-row>
            <ion-col class="weight-col-style">
              <ion-label class="style-labs-peso">{{conferment?.quantity}}<sub class="style-kg"> kg</sub></ion-label>
            </ion-col>

            <ion-col class="wine-type-col-style">
              <ion-label class="style-labs-c">{{conferment?.typology}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="down-col-style">
              <ion-item lines="none" class="ion-no-padding">
                <ion-icon name="calendar-outline" class="icon-style"></ion-icon>
                <ion-label class="calendar-label-style">{{conferment?.date | date: 'dd-MM-yyyy'}}</ion-label>
              </ion-item>
            </ion-col>

            <ion-col class="supplier-col-style">
              <ion-item class="ion-no-padding" lines="none">
                <ion-label class="style-labs-f" slot="end">{{conferment?.supplier}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-grid>
    <div></div>
    <ion-grid class="title-div">
      <ion-row>
      <ion-title class="title-processes">Processi({{conferment?.numberOfTheProgress}})
      </ion-title>
    </ion-row>

    </ion-grid>


    <div class="accordion-style">

      <ion-accordion-group>
        <ion-accordion *ngIf="conferment?.wine_pressing_process != null">
          <ion-item lines="none" slot="header">
            <ion-label class="title-process">Pigiatura</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item lines="none">
              <ion-label class="title-description">Descrizione</ion-label>
            </ion-item>
            <ion-item>
              <ion-text class="text-description">
                {{conferment?.wine_pressing_process.description}}
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion *ngIf="conferment?.destemming_process != null">
          <ion-item lines="none" slot="header">
            <ion-label class="title-process">Diraspatura</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item lines="none">
              <ion-label class="title-description">Descrizione</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="text-description">
                {{conferment?.destemming_process.description}}
              </ion-text>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="title-description">Scarto</ion-label>
            </ion-item>
            <ion-item>
              <ion-text class="text-description">
                {{conferment?.destemming_process.waste}}
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion *ngIf="conferment?.winemaking_process != null">
          <ion-item lines="none" slot="header">
            <ion-label class="title-process">Vinificazione</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item lines="none">
              <ion-label class="title-description">Descrizione</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-text class="text-description">
                {{conferment?.winemaking_process.description}}
              </ion-text>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="title-description">Scarto</ion-label>
            </ion-item>
            <ion-item>
              <ion-text class="text-description">
                {{conferment?.winemaking_process.waste}}
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion *ngIf="conferment?.racking_process != null">
          <ion-item lines="none" slot="header">
            <ion-label class="title-process">Svinatura</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item lines="none">
              <ion-label>Descrizione</ion-label>
            </ion-item>
            <ion-item>
              <ion-text class="text-description">
                {{conferment?.racking_process.description}}
              </ion-text>
            </ion-item>

          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

      <ion-accordion-group>
        <ion-accordion *ngIf="conferment?.refinement_process != null">
          <ion-item lines="none" slot="header">
            <ion-label class="title-process">Affinamento</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item lines="none">
              <ion-label class="title-description">Descrizione</ion-label>
            </ion-item>
            <ion-item>
              <ion-text class="text-description">
                {{conferment?.refinement_process.description}}
              </ion-text>
            </ion-item>

          </ion-list>
        </ion-accordion>
      </ion-accordion-group>


      <ion-accordion-group>
        <ion-accordion *ngIf="conferment?.bottling_process != null">
          <ion-item slot="header">
            <ion-label class="title-process">Imbottigliamento</ion-label>
          </ion-item>

          <ion-list slot="content">
            <ion-item lines="none">
              <ion-label class="title-description">Bottiglie</ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-text class="text-description">
                Bottiglie utilizzate: {{conferment.bottling_process.bottles.bottles_quantity}}
              </ion-text>
              <ion-text class="text-description">
                Formato: {{conferment.bottling_process.bottles.format}}
              </ion-text>

            </ion-item>

            <ion-item lines="none">
              <ion-label class="title-description">Tappi utilizzati</ion-label>
            </ion-item>


            <ion-item lines="none">
              <ion-text class="text-description">
                {{conferment.bottling_process.caps_quantity}}
              </ion-text>
            </ion-item>


            <ion-item lines="none">
              <ion-label class="title-description">Etichette utilizzate</ion-label>
            </ion-item>

            <ion-item>
              <ion-text class="text-description"> {{conferment.bottling_process.tags_quantity}}</ion-text>
            </ion-item>

          </ion-list>
        </ion-accordion>
      </ion-accordion-group>

      <div class="div-next-pr">
        <ion-title *ngIf="conferment?.status!='READY' && conferment?.status!='DELIVERED'" class="title-next-process">
          Prossimo processo:</ion-title>
        <ion-title *ngIf="conferment?.status=='DELIVERED' || conferment?.current_process==null"
          class="title-next-process">Inizia la lavorazione:</ion-title>

        <ion-title *ngIf="conferment?.status!='READY'" class="next-process-style">{{nextProcess}}</ion-title>

      </div>


      <div *ngIf="conferment?.current_process!='Affinamento' && conferment?.status != 'READY'">
        <ion-item class="description-it" lines="none">
          <ion-input class="input" name="description" placeholder="Inserisci la descrizione" [(ngModel)]="description">
          </ion-input>
        </ion-item>

        <ion-item *ngIf="nextProcess == 'Diraspatura' || nextProcess == 'Vinificazione'" class="it" lines="none">
          <ion-input class="input" name="waste" placeholder="Inserisci lo scarto" type="number" [(ngModel)]="waste">
          </ion-input>
        </ion-item>
      </div>

      <div *ngIf="conferment?.current_process=='Affinamento'">
        <ion-item lines="none">
          <ion-label class="title-description">Bottiglie</ion-label>
        </ion-item>
        <ion-item lines="none" class="it">
          <ion-input [(ngModel)]="bottles_quantity" type="number" placeholder="Inserisci la quantità"></ion-input>
        </ion-item>


        <ion-item lines="none" class="it">
          <ion-input [(ngModel)]="format" placeholder="Inserisci il formato"></ion-input>
        </ion-item>

        <ion-item lines="none" lines="none">
          <ion-label class="title-description">Tappi</ion-label>
        </ion-item>
        <ion-item lines="none" class="it">
          <ion-input [(ngModel)]="caps_quantity" type="number" placeholder="Inserisci la quantità dei tappi">
          </ion-input>
        </ion-item>


        <ion-item lines="none">
          <ion-label class="title-description">Etichette</ion-label>
        </ion-item>
        <ion-item lines="none" class="it">
          <ion-input [(ngModel)]="tags_quantity" type="number" placeholder="Inserisci la quantità delle etichette">
          </ion-input>
        </ion-item>

      </div>

      <ion-button shape="round" expand="block" *ngIf="conferment?.status != 'READY'"
        (click)="newProcess(conferment?.current_process, conferment?.status)">
        Avanza
      </ion-button>
    </div>
  </div>

</ion-content>