#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.col {
  color: #8c8c8c;
}

.bot {
  color: black;
}

.card {
  height: 180px;
  width: 100%;
}

.stato {
  min-height: 300px;
  margin-top: 10px;
  border-bottom-style: ridge;
}

.mag {
  min-height: 250px;
  margin-top: 10px;
  border-bottom-style: ridge;
}

.c {
  min-height: 250px;
  margin-top: 10px;
  border-bottom-style: ridge;
}

.gridstyle {
  height: auto;
  flex-flow: column;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 150px;
  padding-bottom: 10px;
}

.title-c {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  margin: auto;
  font-family: "quicksand-regular";
}

.style-labs-c {
  margin-left: 15px;
  margin-bottom: 25px;
  margin-top: 20px;
  font-size: 30px;
  font-family: "quicksand-regular";
}

.calendar-label-style {
  font-size: 20px;
  font-family: "quicksand-regular";
}

.style-labs-warehouse {
  margin-top: 30px;
  font-size: 18px;
  text-align:center;
}

.title-warehouse {

  margin-top: 20px;
  font-size: 20px;
  font-family: "quicksand-semibold";
}

.bar-caps {
  margin-top: 25px;
  margin-bottom:20px;
  height: 20px;
  border-radius: 50px;
  margin: auto;
  --background: white;
  --progress-background: #E692F8;
  border: 1px solid black;
}

.labc {
  font-size: 20px;
  margin-top: 15px;

}

.style-title-c {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "quicksand-semibold";
  padding-left: 10px;
}


.bar-c {
  margin-top: 15px;
  height: 16px;
  border-radius: 50px;
  width: 60%;
  margin: auto;
  --background: white;
  --progress-background: #E692F8;
  border: 1px solid black;
}

.style-row-title {
  margin-bottom: 15px;
}

@font-face {
  font-family: 'quicksand-regular';
  src: url('../../assets/font/Quicksand-Regular.ttf')
}

@font-face {
  font-family: 'quicksand-semibold';
  src: url('../../assets/font/Quicksand-SemiBold.ttf')
}

.weight-col-style {
  height: 80px;
  flex-flow: column wrap;
  text-align: left;
  padding-left: 20px;
  margin-top:15px;

}

.wine-type-col-style {
  height: 80px;
  flex-flow: column wrap;
  text-align: right;
  padding-right: 10px;
  margin-top:15px;

}

.down-col-style {
  height: 80px;
  flex-flow: column wrap;
  margin-bottom: 50px;
  text-align: left;
  padding-left: 10px;

}

.style-labs-f {
  font-size: 20px;
  font-family: "quicksand-regular";
  color: #8c8c8c;
}

.icon-style {
  height: 20px;

}

.style-labs-peso {

  font-size: 30px;
  font-family: "quicksand-regular";
}

.style-kg {
  font-size: 20px;
  font-family: "quicksand-regular";
}

.supplier-col-style {

  height: 80px;
  flex-flow: column wrap;
  text-align: right;
  padding-right: 10px;

}
.title-home{
  text-align:center;
  font-family: "quicksand-semibold";
}

.bar-labels {
  margin-top: 25px;
  height: 20px;
  border-radius: 50px;
  margin: auto;
  --background: white;
  --progress-background: #E692F8;
  border: 1px solid black;
  margin-bottom:20px;
}

.bar-bottle {
  margin-top: 40px;
  height: 20px;
  border-radius: 50px;
  margin: auto;
  --background: white;
  --progress-background: #E692F8;
  border: 1px solid black;
  margin-bottom:20px;
}
.style-button{
  color: black;
  height: 100px;
  width: 25px;

}