<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="col"></ion-menu-button>
    </ion-buttons>
    <ion-label>Home</ion-label>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-grid class="gridstyle">
    <ion-row class="stato">
      <ion-col>
        <ion-label class="sc">Stato carichi</ion-label>
      </ion-col>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let nome of Contatti">
          <ion-col>
            <ion-label class="cont">{{nome.carico}}</ion-label>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-label class="conten">Tipo d'uva</ion-label>
            </ion-row>
            <ion-row>
              <ion-label class="conten">quantita'</ion-label>
            </ion-row>
            <ion-row>
              <ion-label class="conten">{{nome.name}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </ion-row>

    <ion-row class="mag">
      <ion-col>
        <ion-row>
          <ion-label class="sm">Il tuo magazzino</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="labm">Tappi</ion-label>
          <ion-progress-bar color="danger" value="0.25" class="bar"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <ion-label class="labm">Bottiglie</ion-label>
          <ion-progress-bar color="success" value="0.75" class="bar"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <ion-label class="labm">Etichette</ion-label>
          <ion-progress-bar color="success" value="0.75" class="bar"></ion-progress-bar>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="c">
      <ion-col>
        <ion-row>
          <ion-label class="sm">Fornitori recenti</ion-label>
        </ion-row>
        <ion-list lines="none"  class="scroll">
          <ion-item *ngFor="let nome of Contatti">
            <ion-label class="labc">
              {{ nome.name }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>