<ion-header>
  <ion-toolbar>

    <ion-item lines="none" color="police-blue">
      <ion-menu-button color="white">
      </ion-menu-button>
      <ion-label class="title-home">Home</ion-label>
      <ion-button [routerLink]="['/user-account']" fill="clear">
        <ion-icon name="person-circle-outline" slot="end" class="style-button"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>

</ion-header>
<ion-content>
  <app-loading *ngIf="loading"></app-loading>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="contentLoaded && !loading">
    <ion-grid class="gridstyle">
      <ion-col>

        <ion-row>
          <ion-label class="style-title-c">Stato dei conferimenti</ion-label>
        </ion-row>

        <div *ngIf="!thereArePendingConferments" lines="none" border-lines="none">
          <ion-label class="card-conf-style">Nessun conferimento in lavorazione</ion-label>

        </div>
        <ion-card *ngIf="thereArePendingConferments">
          <ion-slides pager="true" [options]="slideOpts" class="style-c">
            <ion-slide *ngFor="let conferment of filteredConferments, let i = index">
              <ion-col>
                <ion-row class="style-row-title">
                  <ion-label class="title-c"> In {{conferment.current_process}} </ion-label>
                </ion-row>
                <ion-row>
                  <ion-progress-bar class="bar-c" [value]="statusOfTheProcesses[i]"></ion-progress-bar>
                </ion-row>
                <ion-row>
                  <ion-col class="weight-col-style">
                    <ion-label class="style-labs-peso">{{conferment.quantity}}<sub class="style-kg"> kg</sub>
                    </ion-label>
                  </ion-col>

                  <ion-col class="wine-type-col-style">
                    <ion-label class="style-labs-c">{{conferment.typology}}</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="down-col-style">
                    <ion-item lines="none" class="ion-no-padding">
                      <ion-icon name="calendar-outline" class="icon-style"></ion-icon>
                      <ion-label class="calendar-label-style">{{conferment.date | date: 'dd-MM-yyyy'}}</ion-label>
                    </ion-item>
                  </ion-col>

                  <ion-col class="supplier-col-style">
                    <ion-item class="ion-no-padding" lines="none">
                      <ion-label class="style-labs-f" slot="end">{{conferment.supplier}}</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-slide>
          </ion-slides>
        </ion-card>
      </ion-col>

      <ion-row class="row-warehouse">
        <ion-col>
          <ion-row class="row-style-warehouse">
            <ion-label class="title-warehouse">Il tuo magazzino</ion-label>
          </ion-row>

          <div
            *ngIf="warehouse.caps_quantity.length==0 && warehouse.bottles.bottles_quantity.length==0 && warehouse.tags_quantity.length==0==0">
            <ion-label class="card-conf-style">OPS! il tuo magazzino e' vuoto</ion-label>
            <ion-button fill="clear" [routerLink]="['/warehouse']" class="butt-conf-style">Gestisci qui il tuo
              magazzino!</ion-button>
          </div>
          <div *ngIf=" warehouse.caps_quantity <= 25">
            <ion-row class="row-style-warehouse">
              <ion-col>
                <ion-label class="title-bar-warehouse">Tappi</ion-label>
              </ion-col>
              <ion-col>
                <ion-label class="title-bar-warehouse-number">{{warehouse.caps_quantity}}</ion-label>
              </ion-col>
            </ion-row>
          </div>
          <ion-row class="row-style-warehouse" *ngIf="warehouse.caps_quantity > 25">
            <ion-col>
              <ion-label class="title-bar-warehouse">Tappi</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="title-bar-warehouse-number">{{warehouse.caps_quantity}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="row-style-warehouse">

          </ion-row>

          <div *ngIf=" warehouse.bottles.bottles_quantity <= 25">
            <ion-row class="row-style-warehouse">
              <ion-col>
                <ion-label class="title-bar-warehouse">Bottiglie</ion-label>
              </ion-col>
              <ion-col>
                <ion-label class="title-bar-warehouse-number">{{warehouse.bottles.bottles_quantity}}</ion-label>
              </ion-col>
            </ion-row>
          </div>
          <ion-row class="row-style-warehouse" *ngIf=" warehouse.bottles.bottles_quantity > 25">
            <ion-col>
              <ion-label class="title-bar-warehouse">Bottiglie</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="title-bar-warehouse-number">{{warehouse.bottles.bottles_quantity}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="row-style-warehouse">

          </ion-row>


          <div *ngIf=" warehouse.tags_quantity <= 25">
            <ion-row class="row-style-warehouse">
              <ion-col>
                <ion-label class="title-bar-warehouse">Etichette</ion-label>
              </ion-col>
              <ion-col>
                <ion-label class="title-bar-warehouse-number">{{warehouse.tags_quantity}}</ion-label>
              </ion-col>
            </ion-row>
          </div>
          <ion-row class="row-style-warehouse" *ngIf=" warehouse.tags_quantity > 25">
            <ion-col>
              <ion-label class="title-bar-warehouse">Etichette</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="title-bar-warehouse-number">{{warehouse.tags_quantity}}</ion-label>
            </ion-col>

          </ion-row>
          <ion-row class="row-style-warehouse">

          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>