<ion-header>
  <ion-toolbar class="toolbar" color="customColor">
    
    <ion-title>Team di Sviluppo</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titolo">
    Cassetta Simone
    <p class="link">
  <a href=" https://github.com/simtape      ">  https://github.com/simtape</a></p>
  </div>
 
  <div class="titolo">
    Scinocca Nicola
    <p class="link">
  <a href=" https://github.com/nicolascinocca      ">  https://github.com/nicolascinocca</a></p>
  </div>
 
  <div class="titolo">
    Alessandro Cancelliere
    <p class="link">
  <a href=" https://github.com/xelanac      ">  https://github.com/xelanac</a></p>
  </div>
   
  <div class="titolo">
 Giuliani Nicola 
  <p class="link">
<a href="https://github.com/nicolagiuliani">https://github.com/nicolagiuliani </a></p>
</div>
 

<div class="titolo">
  Occhionero Luigi
  <p class="link">
<a href=" https://github.com/LuigiOcc      ">  https://github.com/LuigiOcc</a></p>
</div>
 
<div class="titolo">
  Grassi Vincenzo
  <p class="link">
<a href=" https://github.com/Rindi00      ">  https://github.com/Rindi00</a></p>
</div>
 

<div class="titolo">
  Grimani Manuel
  <p class="link">
<a href=" https://github.com/Manuel99-web      ">  https://github.com/Manuel99-web</a></p>
</div>
 


<div class="titolo">
  Fuschino Andrea
  <p class="link">
<a href=" https://github.com/andreaffff      ">  https://github.com/andreaffff</a></p>
</div>
 


<div class="titolo">
  Iacampo Antonio
  <p class="link">
<a href=" https://github.com/antonioiacampo     ">  https://github.com/antonioiacampo</a></p>
</div>
 


<div class="titolo">
  Vicca Valerio
  <p class="link">
<a href=" https://github.com/Valeriovicca     ">  https://github.com/Valeriovicca</a></p>
</div>
 






</ion-content>
