.toolbar{
    background-color: #3B5360  ;
    color:#ffffff;
  }
  .descrizione {
    color: #565555;
    font-size: 12px;
    margin-left: 7px;
    margin-right: 20px;
    margin-top: 5px;
    
    
    text-align:justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  } 


  .titolo {
    color: #272727;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    
align-items: center;
margin-left: 3%;
margin-top: 10%;





    font-family: Verdana, Geneva, Tahoma, sans-serif;

  } 

  .link{    color: #272727;
    font-size: 10px;
    text-align: center;
    
    
align-items: center;
margin-left: 3%;
margin-top: 3%;





    font-family: Verdana, Geneva, Tahoma, sans-serif;

  } 


  