<ion-header >
  <ion-toolbar>
    <ion-item color="police-blue" lines="none">
      <ion-menu-button color="white">
      </ion-menu-button>      <ion-text class="title">Statistiche</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>

 <app-loading *ngIf = "loading"></app-loading> 
<ion-content [fullscreen]="true">
  <div  *ngIf = "!loading"   class="ion-padding">
    <ion-card>
      <ion-card-header>
        Quantità per tipologie
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Quantità per fornitori
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvasSuppliers style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Scarto
      </ion-card-header>
      <ion-card-content>
        <canvas #pieCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>